<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Chat page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" media="screen" href="static/main.css" />
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-sm-6 order-6 order-lg-1">
        <div id="room-list-area">
          <form id="room-form" novalidate>
            <div class="form-row">
              <div class="col-6">
                <input type="text" id="room-name" placeholder="Add new room" class="form-control" maxlength="10"
                  required />
              </div>
              <div class="col-6 sub-button">
                <button type="submit" class="btn btn-primary">
                  <i class="far fa-plus-square"></i> Add
                </button>
              </div>
              <div class="invalid-feedback">
                Room already exists!
              </div>
            </div>
          </form>
          <div id="room-area">
            <ul id="rooms">
              {% for room in rooms %}
              <li>{{ room }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-sm-12 order-1 order-lg-6" id="chat-area">
        <div id="chat-space"></div>

        <div id="submiting-message-area">
          <form id="chat-form">
            <div class="form-row align-items-end">
              <div class="col-10">
                <input type="text" id="message" placeholder="Send message" class="form-control" maxlength="1000" />
              </div>
              <div class="col-2 sub-button">
                <button type="submit" class="btn btn-success" id="send-msg-button">
                  <i class=" far fa-paper-plane"></i> Send
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 order-12 order-lg-12" id="user-list">
        <ul id="room-online-users"></ul>
      </div>
    </div>
  </div>

  <!-- Boostrap [4.3.1] CDN  + SocketIO [2.2.0] -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script src="{{ url_for('static', filename='index.js')}}"></script>
</body>

</html>